# Bytecode files
*.pyc
__pycache__/

# Virtual environment
venv/
.venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE configuration files
.idea/
.vscode/

# Log and temp files
*.log
*.tmp

# Sensitive data
.env

# Distributions
dist/
build/
